<section class="yamblet-m-parent">
  <header class="yamblet-m-header yamblet-header">
    <img src="../assets/images/base/logo.png" alt="Star Wars" class="yamblet-header-logo" routerLink="/">
    <div class="yamblet-header-title">
      <h1 class="font-weight-light text-center"> <strong class="font-weight-bold">S</strong>paceships <strong class="font-weight-bold">P</strong>roject </h1>
    </div>
  </header>
  <main class="yamblet-m-mcontainer">
      <router-outlet></router-outlet>
  </main>
  <footer class="yamblet-m-footer">
    <h6 class="text-center font-weight-light">Designed By Ivan M.L. | All Rights Reserved</h6>
  </footer>
</section>