.yamblet-title{
    &-main{
        color: $main-color;
        margin: 0 0 2rem 0.5rem;
        padding-bottom: 0.5rem;
        position:relative;
        &:after{
            content:"";
            position: absolute;
            bottom:0;
            left:0;
            height: 4px;
            width: 45px;
            background: $main-color;
        }
    }
}